# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [5]:
lst = []

for letter in "word":
    lst.append(letter)

In [2]:
lst

['w', 'o', 'r', 'd']

In [3]:
# Grab every letter in string
lst = [x for x in 'word']

In [4]:
# Check
lst

['w', 'o', 'r', 'd']

This is the basic idea of a list comprehension. If you're familiar with mathematical notation this format should feel familiar for example: x^2 : x in { 0,1,2...10 } 

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [18]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]

In [19]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
new_list = []

for x in range(0,11):
    new_list.append(x**2)

In [9]:
new_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
lst2 = [x*3 for x in range(1,30)]

biglst = []
biglst.extend(lst)
biglst.extend(lst2)

biglst

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 [3,
  6,
  9,
  12,
  15,
  18,
  21,
  24,
  27,
  30,
  33,
  36,
  39,
  42,
  45,
  48,
  51,
  54,
  57,
  60,
  63,
  66,
  69,
  72,
  75,
  78,
  81,
  84,
  87],
 [3,
  6,
  9,
  12,
  15,
  18,
  21,
  24,
  27,
  30,
  33,
  36,
  39,
  42,
  45,
  48,
  51,
  54,
  57,
  60,
  63,
  66,
  69,
  72,
  75,
  78,
  81,
  84,
  87],
 [3,
  6,
  9,
  12,
  15,
  18,
  21,
  24,
  27,
  30,
  33,
  36,
  39,
  42,
  45,
  48,
  51,
  54,
  57,
  60,
  63,
  66,
  69,
  72,
  75,
  78,
  81,
  84,
  87],
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87]

## Example 3
Let's see how to add in <code>if</code> statements:

In [25]:
# Check for even numbers in a range
lst = [x for x in range(0,12) if x % 2 == 0]

In [26]:
lst

[0, 2, 4, 6, 8, 10]

In [30]:
list3 = [y for y in range(100) if y%3==0]
list5 = [y for y in range(100) if y%5==0]
list4 = [y for y in range(100) if y%4==0]

In [32]:
print(list3)
print(list4)
print(list5)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

## Example 4
Can also do more complicated arithmetic:

In [33]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example 5
We can also perform nested list comprehensions, for example:

In [34]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [35]:
dollar =[shekel*3.3 for shekel in range(1,100)]
dollar

[3.3,
 6.6,
 9.899999999999999,
 13.2,
 16.5,
 19.799999999999997,
 23.099999999999998,
 26.4,
 29.7,
 33.0,
 36.3,
 39.599999999999994,
 42.9,
 46.199999999999996,
 49.5,
 52.8,
 56.099999999999994,
 59.4,
 62.699999999999996,
 66.0,
 69.3,
 72.6,
 75.89999999999999,
 79.19999999999999,
 82.5,
 85.8,
 89.1,
 92.39999999999999,
 95.69999999999999,
 99.0,
 102.3,
 105.6,
 108.89999999999999,
 112.19999999999999,
 115.5,
 118.8,
 122.1,
 125.39999999999999,
 128.7,
 132.0,
 135.29999999999998,
 138.6,
 141.9,
 145.2,
 148.5,
 151.79999999999998,
 155.1,
 158.39999999999998,
 161.7,
 165.0,
 168.29999999999998,
 171.6,
 174.89999999999998,
 178.2,
 181.5,
 184.79999999999998,
 188.1,
 191.39999999999998,
 194.7,
 198.0,
 201.29999999999998,
 204.6,
 207.89999999999998,
 211.2,
 214.5,
 217.79999999999998,
 221.1,
 224.39999999999998,
 227.7,
 231.0,
 234.29999999999998,
 237.6,
 240.89999999999998,
 244.2,
 247.5,
 250.79999999999998,
 254.1,
 257.4,
 260.7,
 264.0,
 267.3,
 270.59999999999997,
 273.9,
 277.2,
 280.5,
 283.8,
 287.09999999999997,
 290.4,
 293.7,
 297.0,
 300.3,
 303.59999999999997,
 306.9,
 310.2,
 313.5,
 316.79999999999995,
 320.09999999999997,
 323.4,
 326.7]

In [38]:
remainder = [x % 2 for x in range(1,100)]

remainder

[1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1]