# Functional Programming

In [1]:
def new_add(a,b):
    return a + b

In [2]:
new_add2 = lambda a,b: a + b

In [3]:
new_add2(1,2)

3

In [55]:
first_letter = lambda x: x[0]

print(first_letter("eyal"))

e

In [56]:
lst_of_names = ["Emma", "Liam", "Olivia", "Noah", "Ava", "Ethan", "Isabella", "Lucas", "Sophia", "Mason", 
                "Mia", "Oliver", "Charlotte", "Elijah", "Amelia", "James", "Harper", "Alexander", "Evelyn", "Benjamin",
                "Abigail", "Sebastian", "Emily", "Jack", "Elizabeth", "Daniel", "Sofia", "Matthew", "Avery", "Henry",
                "Ella", "Jackson", "Scarlett", "Samuel", "Grace", "David", "Chloe", "Joseph", "Victoria", "Carter",
                "Riley", "Owen", "Layla", "Wyatt", "Zoey", "John", "Lily", "Luke", "Madison", "Gabriel",
                "Aubrey", "Anthony", "Hannah", "Isaac", "Aria", "Julian", "Scarlet", "Christopher", "Zoe", "Joshua",
                "Penelope", "Andrew", "Luna", "Ryan", "Savannah", "Nathan", "Brooklyn", "Aaron", "Leah", "Adam",
                "Audrey", "Thomas", "Claire", "Charles", "Skylar", "Caleb", "Lucy", "Jordan", "Anna", "Hunter",
                "Sarah", "Cameron", "Eva", "Adrian", "Ariana", "Austin", "Alice", "Ian", "Bella", "Jonathan",
                "Caroline", "Connor", "Madelyn", "Xavier", "Julia", "Dominic", "Maya", "Leonardo", "Ruby", "Diego",
                "Katherine", "Cole", "Lauren", "Alex", "Autumn"]

In [61]:
list(filter(lambda x: x[2]=='n',lst_of_names))

['Benjamin',
 'Daniel',
 'Henry',
 'Hannah',
 'Penelope',
 'Luna',
 'Anna',
 'Hunter',
 'Ian',
 'Jonathan',
 'Connor']

In [65]:
lst3=filter(lambda x:x%7==0,range(4,51))
print(list(lst3))

[7, 14, 21, 28, 35, 42, 49]

In [32]:
lst = [1,2,3]

def new_add(a):
    return a + 1

In [33]:
"jonathan zouari".split()

['jonathan', 'zouari']

In [34]:
list(map(new_add,[1,2,3]))

[2, 3, 4]

In [35]:
# 1. Imperative vs Functional Approach
numbers = [1, 2, 3, 4]

# Imperative Approach
result = []
for num in numbers:
    result.append(num * 3)
print("Imperative Approach:", result)  # Output: [3, 6, 9, 12]

Imperative Approach: [3, 6, 9, 12]

In [36]:
# Functional Approach
result = list(map(lambda x: x * 3, numbers))
print("Functional Approach:", result)  # Output: [3, 6, 9, 12]

Functional Approach: [3, 6, 9, 12]

In [37]:
# 2. Lambda Expressions
square = lambda x: x ** 2
print("Lambda Square of 6:", square(6))  # Output: 36

Lambda Square of 6: 36

In [38]:
# 3. Using map() Function
cubed = list(map(lambda x: x ** 3, numbers))
print("Cubed Numbers:", cubed)  # Output: [1, 8, 27, 64]

Cubed Numbers: [1, 8, 27, 64]

In [39]:
lst = [1,2,3,4,5]

In [40]:
def new_list2(lst):
    temp_list = []
    for num in lst:
        if num % 2 == 0:
            temp_list.append(num)
    return temp_list

In [41]:
def check_even(num):
    return num % 2 == 0

In [42]:
list(map(check_even,lst))

[False, True, False, True, False]

In [43]:
[1,2,3,4,5]
[False,True,False,True,False]

[False, True, False, True, False]

In [44]:
# 4. Using filter() Function
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print("Even Numbers:", even_numbers)  # Output: [2, 4]

Even Numbers: [2, 4]

In [45]:
# 5. Using zip() Function
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped = list(zip(list1, list2))
print("Zipped Pairs:", zipped)  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

Zipped Pairs: [(1, 'a'), (2, 'b'), (3, 'c')]

In [46]:
# 6. Using reduce() Function
from functools import reduce
sum_numbers = reduce(lambda x, y: x + y, numbers)
print("Sum of Numbers:", sum_numbers)  # Output: 10

Sum of Numbers: 10

In [47]:
print("\n--- Coding Task ---")
print("Write a Python function using the reduce() function to compute the product of all elements in a given list of numbers.")

--- Coding Task ---
Write a Python function using the reduce() function to compute the product of all elements in a given list of numbers.