In [1]:
#1
monthly_salary = int(input("What is your monthly salary? "))
yearly_salary = monthly_salary*12
print("Your yearly salary is:", yearly_salary)

Your yearly salary is: 72000

In [2]:
#2
origin_price=99.90/1.17
print(origin_price)

85.3846153846154

In [3]:
#3
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
minus = a - b
duplicate = a * b
print(minus)
print(duplicate)

-20
300

In [4]:
#4
private = input("first name")
private_upper = private.upper()
print(private_upper)

EYAL

In [5]:
#5
sentence = input("Enter a sentence")
# Yes, len() counts all characters including spaces
# For example, "Hello World" has length 11 (5 + 1 + 5 = 11)
print(len(sentence))

15

In [6]:
#6
word=input("my word")
print(word[0])
print(word[-1])

y
v

In [9]:
#7
string=input("my string")
print(string.isalpha())
print(string[0].isupper())
print(string[0].lower())

True
True
i

In [10]:
#8
fruits = [
    input("Enter first fruit: "),
    input("Enter second fruit: "),
    input("Enter third fruit: ")
]
print(fruits)

['apple', 'orange', 'peach']

In [11]:
#9
numbers = [2, 4, 6, 8]
numbers.append(10)
print(numbers)

[2, 4, 6, 8, 10]

In [12]:
#10
colors = ['blue', 'red', 'yellow']
colors[1] = 'pink'
print(colors)

['blue', 'pink', 'yellow']

In [13]:
#11
numbers = [5, 2, 9, 1, 7] 
print(len(numbers))
print(f"Smallest value: {min(numbers)}") 
print(f"Biggest value: {max(numbers)}")
numbers.sort()      # Sort the list
print(numbers)      # Print the sorted list
numbers.reverse()   # Reverse the list
print(numbers)      # Print the reversed list

5
Smallest value: 1
Biggest value: 9
[1, 2, 5, 7, 9]
[9, 7, 5, 2, 1]

In [14]:
#12
t=(654316,473989)
print(t)

(654316, 473989)

In [15]:
#13
day = int(input("Enter day: ")) 
month = int(input("Enter month: ")) 
year = int(input("Enter year: ")) 
date = (day, month, year)
print(date[2])

1996

In [17]:
#14
numbers=(2,4,6)
print(numbers[0]+numbers[2])

8

In [16]:
#15
numbers = (0, 1, 2, 3, 4, 5, 6) 
print(numbers[1:4]) 
print(numbers[:3]) 
print(numbers[3:])
print(numbers[::2])

(1, 2, 3)
(0, 1, 2)
(3, 4, 5, 6)
(0, 2, 4, 6)

In [18]:
#16
person=('eyal','29','yavne') 
name=person[0] 
age=person[1] 
city=person[2] 
print(name) 
print(age) 
print(city)

eyal
29
yavne

In [19]:
#17
book = {
    "title": "harry potter",
    "author": "eyal",
    "year": 1996
}
print(book["author"])

eyal

In [21]:
#18
user = input("name of user: ")
email = input("email address: ")
user_info = {
    "user": user,
    "email": email
}
print(user_info)

{'user': 'eyal', 'email': 'eyalz111@gmail.com'}

In [22]:
#19
product = {
    "name": "battery",
    "price": 300
}
product["price"] = 350  # Update the price
print(product.values())

dict_values(['battery', 350])

In [23]:
#20
word1 = input("Enter first word: ")
word2 = input("Enter second word: ")
word3 = input("Enter third word: ")
group = set([word1, word2, word3])
print(len(group))

3

In [24]:
#21
values = [1,2,3,3,3]
setvalues = set(values)
print(setvalues)

{1, 2, 3}